<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-fragment}">
    <meta charset="UTF-8">
    <title>Topics</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<nav th:replace="~{fragments/navbar}"></nav>
<body >

<!-- th fragment navbar goes there  th:href="@{/topics/__${sort}__}"-->


<div class="container">
<div class="row" th:each="topic : ${topics}" style="margin-top: 300px;">
    <div class="col-6 col-md-6" >
        <h3 th:text="${topic.getPostTitle()}"></h3>
            <i class="fas fa-user">&nbsp;Orestoo</i>
            <i class="fas fa-calendar" th:text=" ' ' + ${topic.getMyDate()}"></i>
            &nbsp; <i class="fas fa-comments" th:text="' ' + ${topic.getPostCommentsSize()}">&nbsp;</i>
        <img  th:src="@{'data:image/jpeg;base64,'+${image}}" style="width: 100%;"/>
        <a class="btn btn-primary" th:href="@{/post/__${topic.getId()}__}">READ</a>
    </div>
 </div>
</div>

</body>
<footer th:replace="~{fragments/footer}"></footer>
<script th:replace="~{fragments/scripts}"></script>
</html>