<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<footer>
    <div class="footer-line">
        <hr>
        <div class="footer-icons">
            <ul>
                <li><a><i class="fab fa-github fa-2x"></i></a></li>
                <li><a><i class="far fa-address-card fa-2x"></i></a></li>
                <li><a><i class="fab fa-linkedin fa-2x"></i></a></li>
            </ul>
            <div class="footer-rights">
                <h3 >© 2019 Code by Damian.  All rights reserved.</h3>
            </div>
        </div>
    </div>
</footer>
</html>