<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form role="form" th:action="@{/login}" method="POST">
    <fieldset>
        <div th:if="${param.error}">
            Invalid user name
        </div>
        <div th:if="${param.logout}">
            You have been log out
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="your@email.com">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password">
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
      </fieldset>

</form>


</body>
</html>