<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <div class="logo">
        <h4>CODE & SPORT BLOG</h4>
    </div>
    <ul class="nav-links">
        <li><a href="#" sec:authorize="!isAuthenticated()">Home</a></li>
        <li><a href="#" sec:authorize="isAuthenticated()">Account</a></li>
        <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a></li>
        <li><a href="#" sec:authorize="isAuthenticated()">Log out</a></li>
        <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
</body>

</html>