<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <link rel="stylesheet" th:href="@{/css/add-post.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
     <script>tinymce.init({selector:'textarea'});</script>
</head>
<body style="background-color: #f6f6f6;">
<h1>POST CREATOR</h1>


<form method="post" enctype="multipart/form-data" action="/fileupload" th:object="${post}">

   <label>
       <h4>Post title</h4>
       <input type="text" th:field="*{postTitle}" name="name" required>
   </label>

    <label>
        <h4>Post short content</h4>
        <input type="text" th:field="*{mainPageContent}" required>
    </label>
    <label>
        <h4>Post Topic</h4>
        <input type="text" th:field="*{postTopics}"/>
    </label>
    <textarea style="resize: both;" th:field="*{postContent}" type="text"></textarea>
    <h4 class="input-image">Post image Title</h4>
    <input  type="text" name="name" required>
    <input type="file" name="file" required>
    <input type="submit" >
</form>
</body>
