<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form role="form" th:action="@{/register}" method="POST" th:object="${user}">
    <fieldset>
        <div class="row" th:if="${validationErrors}">
            <div >BLONDD XD</div>
            <div >
            <span >
                <ul th:each="error : ${validationErrors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                </ul>
            </span>
            </div>
        </div>
        <div>
            <label for="email">Email</label>
            <input th:field="*{email}" type="text" id="email" name="email" placeholder="your@email.com">
        </div>
        <div>
            <label for="nick">user name</label>
            <input th:field="*{nick}" type="text" id="nick" name="nick" placeholder="user name">
        </div>
        <div>
            <label for="password">Password</label>
            <input th:field="*{password}" type="password" id="password" name="password" placeholder="password">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </fieldset>
</form>
</body>
</html>


