<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"></link>
</head>
<body>
<div class="formContainer">
    <form role="form" th:action="@{/reset/password}" method="POST" th:object="${user}">
        <fieldset>
            <div th:if="${param.error}">
                Invalid user name
            </div>
            <div th:if="${param.logout}">
                You have been log out
            </div>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-github"></i></a>
            </div>
            <div class="input-fields">
                <label for="email" th:field="*{email}">Email</label>
                <input type="text" id="email" name="email" placeholder="your@email.com">
                <label for="password">New Password</label>
                <input type="password" id="password" th:field="*{password}" name="password" placeholder="password">
            </div>
            <div class="login-button">
                <button type="submit">Reset</button>
            </div>

        </fieldset>

    </form>
</div>
</body>
</html>